<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.web.mapper.T0200Mapper">

    <resultMap type="T0200Entity" id="T0200EntityResult">
        <result property="warnBit"    column="warnBit"    />
        <result property="statusBit"    column="statusBit"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="altitude"    column="altitude"    />
        <result property="speed"    column="speed"    />
        <result property="direction"    column="direction"    />
        <result property="dateTime"    column="dateTime"    />
        <result property="clientId"    column="clientId"    />
        <result property="messageId"    column="messageId"    />
        <result property="serialNo"    column="serialNo"    />
        <result property="protocolVersion"    column="protocolVersion"    />

    </resultMap>

    <sql id="selectT0200Vo">
        select id,warnBit,statusBit,latitude,longitude,altitude,speed,direction,dateTime,attributes,createtime,
        modifytime,creater,updated,clientId ,serialNo,protocolVersion ,messageId from T0200
    </sql>

    <select id="selectT0200List" parameterType="T0200Entity" resultMap="T0200EntityResult">
        <include refid="selectT0200Vo"/>
        <where>  
            <if test="warnBit != null  and warnBit != ''"> and warnBit = #{warnBit}</if>
            <if test="statusBit != null  and statusBit != ''"> and statusBit = #{statusBit}</if>
            <if test="latitude != null  and latitude != ''"> and latitude = #{latitude}</if>
            <if test="longitude != null  and longitude != ''"> and longitude = #{longitude}</if>
            <if test="altitude != null  and altitude != ''"> and altitude = #{altitude}</if>
            <if test="speed != null  and speed != ''"> and speed = #{speed}</if>
            <if test="direction != null  and direction != ''"> and direction = #{direction}</if>
            <if test="dateTime != null  and dateTime != ''"> and dateTime = #{dateTime}</if>
            <if test="attributes != null  and attributes != ''"> and attributes = #{attributes}</if>
            <if test="createtime != null  and createtime != '' and createtime != 0"> and createtime = #{createtime}</if>
            <if test="modifytime != null  and modifytime != '' and modifytime != 0"> and modifytime = #{modifytime}</if>
            <if test="creater != null  and creater != '' and creater != 0"> and creater = #{creater}</if>
            <if test="updated != null  and updated != '' and updated != 0"> and updated = #{updated}</if>
            <if test="clientId != null  and clientId != '' and clientId != 0"> and clientId = #{clientId}</if>
            <if test="serialNo != null  and serialNo != '' and serialNo != 0"> and serialNo = #{serialNo}</if>
            <if test="messageId != null  and messageId != '' and messageId != 0"> and messageId = #{messageId}</if>
            <if test="protocolVersion != null  and protocolVersion != '' and protocolVersion != 0"> and protocolVersion = #{protocolVersion}</if>
        </where>
        ORDER BY createtime desc
    </select>
    
    <select id="selectT0200ByclientId" parameterType="Long"  resultMap="T0200EntityResult">
        <include refid="selectT0200Vo"/>
        where id = #{id}
    </select>
        
    <insert id="insertT0200" parameterType="T0200Entity">
        insert into T0200
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warnBit != null and warnBit != ''">warnBit,</if>
            <if test="statusBit != null">statusBit,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="altitude != null">altitude,</if>
            <if test="speed != null">speed,</if>
            <if test="direction != null">direction,</if>
            <if test="dateTime != null">dateTime,</if>
            <if test="clientId != null">clientId,</if>
            <if test="messageId != null">messageId,</if>
            <if test="serialNo != null">serialNo,</if>
            <if test="protocolVersion != null">protocolVersion,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warnBit != null and warnBit != ''">#{warnBit},</if>
            <if test="statusBit != null">#{statusBit},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="altitude != null">#{altitude},</if>
            <if test="speed != null">#{speed},</if>
            <if test="direction != null">#{direction},</if>
            <if test="dateTime != null">#{dateTime},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="messageId != null">#{messageId},</if>
            <if test="serialNo != null">#{serialNo},</if>
            <if test="protocolVersion != null">#{protocolVersion},</if>
         </trim>
    </insert>

    <update id="updateT0200" parameterType="T0200Entity">
        update user_transportation_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="pointOfOriginProvince != null and pointOfOriginProvince != ''">pointOfOriginProvince = #{pointOfOriginProvince},</if>
            <if test="placeOfDispatch != null">placeOfDispatch = #{placeOfDispatch},</if>
            <if test="theArrivalOfTheGoodsToTheProvince != null">theArrivalOfTheGoodsToTheProvince = #{theArrivalOfTheGoodsToTheProvince},</if>
            <if test="withTheArrivalOfTheGoods != null">withTheArrivalOfTheGoods = #{withTheArrivalOfTheGoods},</if>
            <if test="theCarrierNumber != null">theCarrierNumber = #{theCarrierNumber},</if>
            <if test="licensePlateNumber != null">licensePlateNumber = #{licensePlateNumber},</if>
            <if test="wayTo != null">wayTo = #{wayTo},</if>
            <if test="departureTime != null">departureTime = #{departureTime},</if>
            <if test="numberOfCases != null">numberOfCases = #{numberOfCases},</if>
            <if test="totalNumberOfPackages != null">totalNumberOfPackages = #{totalNumberOfPackages},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteT0200ById" parameterType="Long">
        delete from T0200 where id = #{id}
    </delete>

    <delete id="deleteT0200ByIds" parameterType="String">
        delete from T0200 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>